.header {
  display: grid;
  grid-template-columns: 2.1fr .8fr 2.1fr;
  place-items: center center;
  padding: 92px 24px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 100%;
  max-width: 148px;
  padding: 0 6px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 100%;
  max-width: 264px;
  padding: 0 30px 0 0;
  font-style: normal;
  line-height: 1.35;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-size: 100% 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  color: #ffffff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.23;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: .6em;
}

.letter-no-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.22;
  word-spacing: 0.84em;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: .6;
  background-color: #000000;
}

.lots {
  padding: 179px 24px 146px;
}

.lots__heading {
  margin: 0 40px 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  min-height: 563px;
}

.card-link {
  color: #ffffff;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  color: #ffffff;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  margin: 0 40px;
  font-size: 20px;
}

.about {
  margin-bottom: 145px;
  padding: 35px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 240px auto;
  grid-template-areas:
    "logo title"
    ". desciption";
  gap: 0 72px;
  margin: 0 0 0 48px;
}

.about__logo {
  display: flex;
  grid-area: logo;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  max-width: 148px;
  height: auto;
}

.about__title {
  grid-area: title;
  align-self: center;
  padding-top: 8px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: desciption;
  gap: 24px;
  padding-top: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 0 50px 88px;
  font-size: 18px;
}

.footer .address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  max-width: 48px;
}